


                            <div class="row">
                                <form method="post" action="/deploy_contract">
                                    {% csrf_token %}
                                    <input type="hidden" name="id" value="{{ product.id }}">
                                    <input type="hidden" name="sell" value="{{ product.user_id }}">
                                    <input type="text" name="pw" style=" height: 1.6rem;" placeholder="지갑비밀번호">
                                    <button class="badge badge-info" style="height:2rem; margin: auto 0px;">구매하기</button>
                                </form>
                            </div>

                            <div class="row">

                            <form method="post" action="/buy_contract">
                                {% csrf_token %}
                                <input type="hidden" name="id" value="{{ product.id }}">
                                <input type="hidden" name="sell" value="{{ product.user_id }}">
                                <input type="text" name="pw" style=" height: 20px;" placeholder="지갑비밀번호">
                                <button class="badge badge-info" style="height:20px; margin: auto 0px;">거래확정</button>
                            </form>
                        </div>
                            <form method="post" action="/buy_contract">
                                <form method="post" action="/deploy_contract">