{% extends 'base.html' %}
{% block title %}Product Detail{% endblock %}
{% block content %}
        <div class="container">
            <div class="row">
                
                <div class="col-lg-3">
                    <img src="{{product.image.url}}" width="100%">
                </div>
                <div class="col-lg-3">
                    <h1 class="display-6">{{product.name}}</h1>

                    <p><span class="badge badge-secondary">Price</span> {{product.price}}</p>
{#                    <form action="" method="post">#}
                    <form action="{% url 'cart:product_add' product.id %}" method="post">
                        {{add_to_cart}}
                        {% csrf_token %}
                        <input type="submit" class="btn btn-primary btn-sm" value="Add to Cart">
                    </form>
                    <br>
                    <!-- <h5><span class="badge badge-secondary">Description</span>{{product.description|linebreaks}}</h5> -->
                    <h5><span class="badge badge-light">Description</span><hr size="5px" width="100px" align="left" color="black">{{product.description|linebreaks}}</h5>
                </div>
                {% if user.username == user_id %}
                <form action="{{product.get_absolute_url}}" method="post">
                    {% csrf_token %}
                    <button value="del" name="is_del"> 게시글 삭제</button>
                    {% if product.product_state == 1%}
                        <a href="" type="button"> 거래취소 </a>
                    {% endif %}
                </form>
                <button onclick="location.href='update'" type="button">게시글 수정</a>
                {% elif user.is_authenticated %}
                    {% if product.product_state == 0 %}
                        <div>판매중</div>
                        <form action="deploy_contract">
                            <input type="hidden" value="{{ user.username }}">
                            <input type="hidden" value="{{ user_id }}">
                        </form>
                        <!-- <a href="" type="button">구매하기</a> -->
                    {% elif product.product_state == 1%}    
                        <div>거래중</div>
                        <a href="buy_contract" type="button">거래확정</a>
                    {% elif product.product_state == 2 %}
                        <div>거래완료</div>
                    {% endif %}
                {% endif %}
            </div>

        </div>



{% endblock %}