{% extends 'base.html' %}
{% block title %}Product Detail{% endblock %}
{% block content %}
        <div class="container">
            <div class="row">
                <div class="col" style="padding-bottom:20px;">
                    <img src="{{product.image.url}}" width="100%">
                </div>
                <div class="col-lg-2">
                    <div class="row">
                    <h1 class="display-6" style="width:fit-content;">{{product.name}}</h1>
                    {% if product.product_state == 0 %}
                    <div class="badge badge-primary" style="height:20px; margin: auto 0px;">판매중</div>
                    <form action="deploy_contract">
                        <input type="hidden" name="buyer" value="{{ user.username }}">
                        <input type="hidden" name="seller" value="{{ product.user_id }}">
                    </form>
                    <button onclick="location.href=''" type="button" class="btn btn-light">구매하기</a>
                {% elif product.product_state == 1%}    
                    <div class="badge badge-warning" style="height:20px; margin: auto 0px;">거래중</div>
                    {% if product.buyer == user.username %}
                    <a href="buy_contract" type="button" class="badge badge-info"
                     style="height:20px; margin: auto 0px;">거래확정</a>
                    {% endif %}
                {% elif product.product_state == 2 %}
                    <div class="badge badge-success" style="height:20px; margin: auto 0px;">거래완료</div>
                {% endif %}
                <hr style="border-color: gray; width: 100%; margin-top: 0rem;">
                </div>
                    <p><span class="badge badge-secondary">Price</span> {{product.price}}</p>
{#                    <form action="" method="post">#}
                    <form action="{% url 'cart:product_add' product.id %}" method="post">
                        {{add_to_cart}}
                        {% csrf_token %}
                        <input type="submit" class="btn btn-primary btn-sm" value="Add to Cart" style="margin : 3px;">
                    </form>
                    <br>
                    <!-- <h5><span class="badge badge-secondary">Description</span>{{product.description|linebreaks}}</h5> -->
                    <h5><span class="badge badge-light"><h3>Description</h3></span>
                        <hr size="5px" width="60%" align="left" color="#555555"  style="margin-top: 0rem;">
                        {{product.description|linebreaks}}</h5>
                </div>
                {% if user.username == product.user_id %}
                    <form action="{{product.get_absolute_url}}" method="post">
                        {% csrf_token %}
                        <button value="del" name="is_del"> 게시글 삭제</button>
                        {% if product.product_state == 1%}
                            <a href="" type="button"> 거래취소 </a>
                        {% endif %}
                    </form>
                    <a href="update" type="button">안녕</a>
                    
                    <div>   
                
                {% endif %}
                </div>
            </div>

        </div>



{% endblock %}