{% extends 'base.html' %}
{% block title %}Write Page{% endblock %}
{% block content %}

    {% if user.is_authenticated %}
    <form method="POST" enctype="multipart/form-data" action="/write_sub">
    {% csrf_token %}
    <div style="width: 20%; height: 200px; float: left; text-align: center" >
        <ul>
            <li>카테고리 : <br><br></li>
            <li>제품명 : <br><br></li>
            <li>제시가격 : <br><br></li>
            <li>제품사진 : <br><br></li>
            <li> 수량 : <br><br></li>
            <li> 설명1  : <br><br></li>
            <li> 설명2  : <br><br></li>  
        </ul>
    </div>
        <select name="category" id="">
            {% for i in category %}
            <option value="{{ i }}">{{ i }}</option>
            {% endfor %}
        </select>
        <input type="text" name="name" ><br>
        <input type="text" name="price"><br>
        <input type="file" name="image"><br>
        <input type="text" name="description"><br>
        <input type="text" name="meta_description" id=""><br>
        <input type="text" name="stock" id=""><br>
        <input type="hidden" name="user_id" value="{{ user.username }}">
        <button type="submit" name="is_up" value="write"> 확인 </button>
    </form>
    {% else %}
    <h1>로그인이 필요합니다!!</h1>
    {% endif %}



{% endblock %}